.NumerologyReportData {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.section__container {
    display: flex;
    margin: 10% 0;
    padding: 25px;
    color: antiquewhite;
}

.section__container:nth-child(even){
    flex-direction: row-reverse;
}

.image {
    background-color: darkgoldenrod;
    background-blend-mode: screen;
    position: relative;
    text-align: center;
    color: antiquewhite;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex: 1;
}

.image__motivation {
    background-image: url("https://get.pxhere.com/photo/rock-ball-struggle-push-man-hill-business-person-roll-sunset-uphill-activity-businessman-challenge-concept-dessert-difficulty-dream-effort-employee-environment-future-giant-heavy-inspiring-job-motivation-move-occupation-power-silhouette-sphere-stone-strength-success-task-worker-sky-sun-afterglow-sunrise-atmosphere-cloud-morning-horizon-sunlight-evening-dawn-dusk-ecoregion-landscape-computer-wallpaper-calm-field-meteorological-phenomenon-1448189.jpg");
}

.image__inner_self {
    background-image: url("https://get.pxhere.com/photo/nature-girl-woman-photography-heart-portrait-model-reflection-sitting-studio-fashion-lady-hairstyle-sculpture-dress-figure-mirror-photograph-self-humor-creature-beauty-mind-spirit-psyche-character-i-mood-awareness-soul-she-identity-existence-ego-the-interior-of-the-personality-photo-shoot-wellbeing-the-act-of-mentality-esteemeth-portrait-photography-self-awareness-human-positions-art-model-being-which-inner-self-my-person-the-spiritual-image-of-the-the-mentality-of-the-disposition-of-the-face-of-the-the-spiritual-state-mental-state-the-internal-state-of-the-the-originality-of-individuality-has-the-specificity-of-the-specificity-of-the-way-of-being-the-depth-of-the-soul-810388.jpg");
}

.image__expression {
    background-image: url("https://get.pxhere.com/photo/sea-water-structure-sunrise-sunset-morning-wave-evening-reflection-relaxation-meditation-temple-yoga-buddha-deity-center-vibrations-awareness-attention-emotion-perception-impression-wellness-personality-subconscious-mind-shiva-wave-motion-gautama-buddha-unconscious-954268.jpg");
}

.image__karmic_lessons {
    background-image: url("https://www.publicdomainpictures.net/pictures/290000/velka/yoga-meditation.jpg");
}

.image__hidden_tendencies {
    background-image: url("https://cdn.pixabay.com/photo/2015/04/03/19/57/cloud-705736_1280.jpg");
}

.image__subconscious_response {
    background-image: url("https://cdn.pixabay.com/photo/2017/04/08/11/07/nerve-cell-2213009_1280.jpg");
}

.image > .number {
    font-size: 12vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 8px black
}

.data__text {
    padding: 0px 30px;
    flex: 1;
    margin: 70px 0;
}

.paragraph {
    margin: 22px 0;
}

.data__text > h2 {
    margin: 0 0 5px 0;
    font-size: 40px;
}

.data__text > div {
    font-size: 20px;
}

.section__container > .number {
    font-size: 100%;
}

.header_text > a:link, .header_text > a:visited {
    text-decoration: none;
    color: #0576B3;
}

@media screen and (max-width: 520px) {
    .section__container {
        display: block;
        margin: 15px 0 0 0;
    }

    .image {
        height: 97px;
        position: relative;
        text-align: center;
        color: antiquewhite;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .data__text {
        margin: 10px 0;
    }

    
}



/* .reportData__wrapper {
    display: block;
    margin-top: 50px;
}

.reportData__section__title {
    font-size: 22pt;
}

.reportData__section__container__odd {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.reportData__section__container__even {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
}

.reportData__section {
    color: aliceblue;
}

.reportData__section:nth-child(odd) {
   background-color: #bbb;
   color: black;
}

.reportData__section__group {
    max-width: 325px;
    margin: 10px;
    padding: 30px;
}

.reportData__section__group__number {
    font-size: 80pt;
    text-align: center;
    text-shadow: 3px 3px 5px #ffffff;
}

.reportData__section__info {
    font-size: 12pt;
}

.image__group {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.black {
    color: black;
}

img {
    opacity: 10%;
} */





