/* * {
    box-sizing: border-box;
} */


  
/* button:hover {
    background-color: #45a049;
} */
  
/* .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
} */
  
/* Clear floats after the columns */
/* .row:after {
    content: "";
    display: table;
    clear: both;
} */
  
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
         margin-top: 0;
    }
} */