.navbar {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
}

.navbar>.container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.navbar__brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.btn {
    display: inline-block;
    font-weight: 700;
    color: #555a64;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 2px solid transparent;
    padding: .625rem 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .3125rem;
}

.btn-primary {
    color: #fff;
    background-color: #2568ef;
    border-color: #2568ef;
    box-shadow: none;
}

a {
    text-decoration: none;
}








/* .Header .group_left {
    display: grid;
}

.Header .group_right a {
    padding-left: 10px;
    text-decoration: none;
}

.Header .group_left a {
    text-decoration: none;
} */


/* .nav {
    height: 40px;
    display: flex;
    align-items: normal;
    justify-content: space-between;
}

.nav__logo-group {
    display: grid;
    margin: 0;
    text-align: center;
}

.nav__logo {
    font-size: 30pt;
}

.nav a {
    text-decoration: none;
}



.nav__tagline--wide {
    font-size: 14px;
    text-align: left;
    margin-top: -10px;
}

.nav__tagline--narrow {
    opacity: 0.35;
    display: block;
    text-align: center;
    display: none;
    margin-top: 10px;
}

.nav__home-links {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    font-size: 14px;
}

.nav__home-links a:last-child {
    padding: 5px 15px;
    border-radius: 15px;
    margin-left: 10px;
}

.Header__logged-in a {
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 5px 15px;
    border-radius: 15px;
}

@media screen and (min-width: 450px) {
    .nav {
        align-items: baseline;
    }

    .nav__logo {
        font-size: 18pt;
    }

    .nav__tagline--wide {
        font-size: 10pt;
    }
} */